* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --bg-primary:      #0C447C;
  --bg-card:         #B5D4F4;
  --text-primary:    #E6F1FB;
  --color-correct:   #639922;
  --color-wrong:     #D85A30;
  --color-score:     #FAC775;
  --btn-correct-text:#EAF3DE;
  --btn-wrong-text:  #FAECE7;
}

html , body {
    background-color: var(--bg-primary);
    width: 100%;
    height: 100%;
}

:root {
  --bg-primary:      #0C447C;
  --bg-card:         #B5D4F4;
  --text-primary:    #E6F1FB;
  --color-correct:   #639922;
  --color-wrong:     #D85A30;
  --color-score:     #FAC775;
  --btn-correct-text:#EAF3DE;
  --btn-wrong-text:  #FAECE7;
}